/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.chart-line-symbol:hover {
	-fx-background-color: GREY;
	-fx-stroke: WHITE;
}

.list-cell {
    -fx-font-size:15.0;
}